.App {
  margin-top: 10rem;
}
.content-card{
  padding: 1rem;
  width: 35rem;
  max-width: 90%;
  margin: 1rem auto;
  background-color: azure;
 
}

.no-user-description{
  text-align: center;
  margin: 1rem 0;
  background: #8b005d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  padding: 1rem 2rem;

}


